.whatsapp-share-container {
  margin-top: 10px;
}

.whatsapp-share-container .whatsapp-btn {
  box-shadow: none !important;
  margin-top: 5px;
  background-color: #2ca02c;
  color: #ffffff;
  border: 1px solid #2ca02c;
  text-transform: uppercase;
  padding: .375rem .75rem;
  vertical-align: middle;
  text-decoration: none;
}

.whatsapp-share-container .whatsapp-btn:hover {
  background: #00a00c;
  color: #ffffff;
  border: 1px solid #00a00c;
}

.whatsapp-share-container .whatsapp-icon {
  width: 1.5rem;
  vertical-align: middle;
}