<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Codilar\UomAttribute\Model\ResourceModel\UomAttribute\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">uomattribute</argument>
            <argument name="resourceModel" xsi:type="string">Codilar\UomAttribute\Model\ResourceModel\UomAttribute
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="uomattribute_listing_ui_data_source" xsi:type="string">
                    Codilar\UomAttribute\Model\ResourceModel\UomAttribute\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Codilar\UomAttribute\Api\UomAttributeRepositoryInterface"
                type="Codilar\UomAttribute\Model\Api\UomAttributeRepository"/>

</config>


