<?xml version="1.0"?>
<!--
/** Webkul MpZipCodeValidator system xml
 * @category  Webkul
 * @package   Webkul_MpZipCodeValidator
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mpzipcode>
            <general>
                <enable>1</enable>
                <enablecheckout>1</enablecheckout>
                <zipcodemessage>Please enter your zipcode to know whether this product is available in your area or not. </zipcodemessage>
            </general>
        </mpzipcode>
    </default>
</config>
