<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codilar_WishlistUrl">
        <sequence>
            <module name="Magento_Wishlist"/>
            <module name="Mageplaza_BetterWishlist"/>
        </sequence>
    </module>
</config>
