body#html-body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}
.max-container {
    max-width: 1224px;
    margin: 0 auto;  
}
body:not(.cms-index-index) main#maincontent, body:not(.cms-index-index) .page-main,
body:not(.cms-index-index) .breadcrumbs {
    max-width: 1224px;
}
* {
    box-sizing: border-box;
}
/*****-----------------Header Section---------------*****/

.sections {
    .navigation {
        .level0 {
            a {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: #4A4A4A;
            }
        }
    }
}
.header.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
    a.logo {
        margin: 0;
    }
}
.header-top-content {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    a {
        color: #4a4a4a;
    }
}
.block.block-search {
    input {
        margin: 0;
        padding-right: 0;
        position: static;
        height: 40px;
        border: none;
        border-radius: 5px;
        padding-left: 35px;
        font-size: 13px;
        background: #F5F5F5;
        &::placeholder {
            color: #9B9B9B;
        }
    }
    .action.search {
        &:before {
            font-size: 26px;
            color: #4a4a4a;
            font-weight: 700;
        }
    }
    .action.search[disabled] {
        opacity: 1;
    }
    form.form.minisearch.active {
    .action.search:before {
        content: "\e616";
        font-family: 'icons-blank-theme';
        display: inline-block;
        font-size: 30px;
    }
    }
}
.block-search {
    .action.search {
        left: 20px;
        top: 5px;
        right: unset;
    }
    .control {
        padding: 0 0 0;
    }
}
.header.content {
    #switcher-store {
        display: flex;
        position: relative;
        strong.label.switcher-label {
            display: none;
        }
        strong:before {
            content: "";
            display: inline-block;
            background: url('@{baseDir}images/store_icon.png') no-repeat 0 0;
            width: 23px;
            height: 24px;
        }
        span {
            font-weight: 400;
            font-size: 12px;
            position: relative;
            top: -6px;
        }
        .switcher-options.active {
            ul.dropdown.switcher-dropdown {
                display: none;
                position: absolute;
                padding: 10px 8px 0;
                z-index: 11;
                background: #fff;
                width: 100%;
                box-shadow: 0px 0px 4px #4a4a4a;
                top: 25px;
                li {
                    list-style: none;
                    a {
                        color: #4a4a4a;
                        font-size: 12px;
                    }
                }
            }
        }
        ul.dropdown.switcher-dropdown {
            display: none;
        }
    }
}
ul.header.links {
    padding: 0;
    margin-bottom: 0;
    li {
        display: inline-block;
        margin-bottom: 0;
        &:first-child {
            font-size: 0;
            display: none;
        }
        a {
            color: #4a4a4a;
        }
    }
    li.greet.welcome {
        display: none;
    }
    li.link.wishlist {
        a {
            font-size: 0;
            &:before {
                content: "";
                display: inline-block;
                background: url('@{baseDir}images/wishlist-icon.png') no-repeat 0 0;
                width: 25px;
                height: 28px;
            }
        }
        margin-right: 20px;
    }
    a.customer-login-link {
        font-size: 0;
        text-decoration: none;
        &:before {
            content: "Login / ";
            font-size: 12px;
            line-height: 38px;
            vertical-align: text-bottom;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: #4A4A4A;
        }
    }
    a.customer-register-link {
        font-size: 0;
        text-decoration: none;
        &:before {
            content: "Register";
            font-size: 12px;
            margin-left: -5px;
            line-height: 38px;
            vertical-align: text-bottom;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: #4A4A4A;
        }
    }
}
.logged-in .header ul.header.links {
    display: none;
}
.logged-in .header ul.header.links.bottom {
    display: block;
}
.logged-in .header ul.header.links.bottom > li:last-child {
    display: none;
}
.header ul.header.links.bottom {
    display: none;
}
li.customer-welcome {
    span.customer-name {
        button.action.switch {
            background: transparent;
            border: none;
            box-shadow: none;
            span {
                font-size:0;
                &:before {
                    content: '';
                    display: inline-block;
                    background: url(../images/account-icon.png) no-repeat 0 0;
                    width: 25px;
                    height: 25px;
                    margin-top: 0;
                }
            }
        }
    }
    .customer-menu {
        display: none;
    }
    &.active {
        .customer-menu {
            display: block;
            position: absolute;
            z-index: 11;
            background: #fff;
            width: 288px;
            right: 0;
            box-shadow: 1px 1px 6px #bbb;
            border-radius: 8px;
            ul.header.links {
                flex-flow: column;
                flex-wrap: wrap;
                display: flex;
                padding: 20px 20px 15px;
                li.link.wishlist a {
                    font-size: 14px;
                }
                li.link.authorization-link {
                    display: block !important;
                }
                a.customer-login-link {
                    font-size: 14px;
                }
                li {
                    width: 100%;
                    margin: 0 0 8px 0;
                    font-size: 14px;
                    background: #F5F5F5;
                    padding: 10px 20px;
                    border-radius: 4px;
                    a {
                        color: #E71C24;
                    }
                }
            }
            ul {
                padding:0;
                li {
                    a {
                        text-decoration: none;
                    }
                    &:first-child {
                        font-size: 14px;
                    }
                }
            }
            ul.top {
                border-bottom: 1px solid #E4E4E4;
                padding: 20px 0 15px;
                text-align: center;
            }
            ul.bottom {
                padding: 8px 8px;
                border-top: 1px solid #E4E4E4;
                li a {
                    background: #E71C24;
                    width: 100%;
                    display: block;
                    color: #fff;
                    text-align: center;
                    padding: 10px 0;
                    border-radius: 5px;
                    font-weight: 700;
                }
            }
        }
    }
}

.logged-in {
    ul.header.links {
        li {
            &:first-child {
                display: block;
            }
        }
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        li.link.authorization-link {
            display: none;
        }
        li.greet.welcome {
            display: none;
        }
    }
}
.header.content {
    .nav-sections {
        margin-bottom: 0;
    }
}
div#switcher-language, div#switcher-language-nav {
    display: none;
}
.call-popup {
    display: none;
}
body[data-mage-init] .header.content .navigation .level0 ul.level0.submenu {
    display: none;
}
aside.modal-popup.city-popup {
    .modal-inner-wrap {
        width: 600px;
        border-radius: 10px;
    }
    header.modal-header {
        padding: 30px 0 0;
        border: none;
    }
}
.call-popup {
    .search-section {
        width: 330px;
        margin: 10px auto 35px;
        text-align: left;
        h2 {
            margin: 0 0 8px;
        }
        input#city-search {
            background: #F5F5F5;
            border: none;
            border-radius: 5px;
            padding-left: 40px;
        }
        .control {
            position: relative;
            &:before {
                    background: url(../images/search-icon.png) no-repeat 0 0;
                    content: "";
                    position: absolute;
                    left: 6px;
                    height: 20px;
                    width: 20px;
                    display: block;
                    z-index: 11;
                    top: 6px;
            }
        }
    }
    .block-title {
        span {
            color: #222222;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .call-popup-top {
        text-align: center;
        h2 {
            color: #E71C24;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .box-store-content {
        padding-top: 5px;
        .store-name {
            color: #4A4A4A;
            font-size: 13px;
        }
        .store-image {
            background: #F5F5F5;
            border-radius: 30px;
            padding: 0 5px;
            img {
                width: auto;
            }
        }
        ul {
            padding: 0;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                list-style: none;
                flex: 0 1 16.66%;
                text-align: center;
                padding: 0 5px;
                box-sizing: border-box;
            }
        }
    }
}

/*****-----------------Footer Section---------------*****/
.page-footer .footer.content {
    margin-top: 0;
}
.footer-link-section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    h4 {
        color: #000;
        font-size: 12px;
        font-weight: 800;
    }
    ul {
        li {
            a {
                color: #000;
                padding-bottom: 14px;
                display: block;
                text-decoration: none;
                font-size: 11px;
                font-weight: 700;
                &:hover {
                    color: #e71c24;
                }
            }
        }
    }
    .link-section.address {
        ul {
            li {
                span {
                    display: block;
                    color: #000;
                    font-size: 12px;
                }
            }
        }
    }
}
.footer-bottom {
    .social-icons {
        a {
            padding: 8px 10px 3px;
            background: #f5f5f5;
            display: inline-block;
            border-radius: 50%;
            margin: 0 8px;
        }
    }
    border-top: 1px solid #cecece;
    padding-top: 35px;
    margin-top: 40px;
    .footer-bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .callus {
        a {
            color: #4a4a4a;
            position: relative;
            padding-left: 14px;
            margin: 0 5px;
            svg {
                position: absolute;
                left: 0;
                top: 1px;
            }
            &:hover {
                color: #e71c24;
            }
        }
    }
    .copyright {
        margin: 0 0 0;
    }
}
.footer-four-up-box {
    padding: 60px 0;
    .pagebuilder-column {
        text-align: center;
        border-right: 1px solid #CCCCCC;
        padding: 35px 0;
        h2 {
            font-size: 18px;
            text-transform: capitalize;
            color: #e71c24;
            font-weight: 700;
            margin: 0 0 8px;
        }
        p {
            color: #222222;
            font-size: 13px;
        }
        &:last-child {
            border: none;
        }
    }
}
.page-footer {
    .footer-info {
        p {
            color: #9B9B9B;
            font-size: 13px;
        }
    }
}
.page-bottom {
    overflow: hidden;
}
form.query-form {
    width: 395px;
    margin: 0 auto;
    fieldset {
        border: none;
        padding: 0 25px;
        border-radius: 8px;
        padding-top: 20px;
        position: relative;
        box-shadow: 0px 7px 15px #4a4a4a;
        padding-bottom: 60px;
        .control {
            margin: 0 0 15px;
            input {
                height: 40px;
            }
        }
        &:after {
            background: #fff url('@{baseDir}images/form-bg-image-right.png') no-repeat 0 0;
            content: "";
            position: absolute;
            left: 100%;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 11;
            top: 0;
            background-size: cover;
            background-position: bottom;
            width: 501px;
        }
        &:before {
            background: #fff url('@{baseDir}images/form-bg-image-left.png') no-repeat 0 0;
            content: "";
            position: absolute;
            right: 100%;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 11;
            top: 0;
            background-size: cover;
            background-position: bottom;
            width: 501px;
        }
        .control {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 8px;
                width: 20px;
                height: 20px;
                background: #fff url('@{baseDir}images/right-click.png') no-repeat 0 0;
            }
        }
    }
    button {
        text-transform: uppercase;
    }
    p {
        font-size: 13px;
        padding-top: 10px;
        clear: both;
        overflow: hidden;
        display: block;
        a {
            color: #E71C24;
            font-weight: 700;
        }
    }
}
.query-form {
    h2 {
        color: #E71C24;
        font-size: 28px;
        font-weight: 700;
    }
}

/*****-----------------Middle Body Section---------------*****/

.hp-category-block {
    h2 {
        color: #e71c24;
        font-weight: 700;
        font-size: 28px;
        padding-left: 10px;
    }
    a.pagebuilder-button-link {
        color: #4a4a4a;
        font-size: 18px;
        padding-left: 3px;
    }
    .pagebuilder-column {
        padding: 0 10px;
        img {
            border-radius: 10px;
        }
    }
}

#moving-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        width: 90px;
        .content {
            h3 {
                font-weight: 700;
                color: #E71C24;
            }
            display: none;
        }
        span {
            width: 24px;
            height: 24px;
            background: #fff;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            line-height: 24px;
            color: #222222;
            box-shadow: 0px 0px 0px 0.7px #eeeeee;
            z-index: 1;
            position: relative;
            font-size: 10px;
        }
    }
    li.on {
        .content {
            display: block;
            position: absolute;
            color: #222222;
            font-size: 16px;
            left: 0;
            width: 440px;
        }
        span {
            width: 24px;
            height: 24px;
            background: #E71C24;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            line-height: 24px;
            color: #fff;
        }
    }
    &:after {
        content: "";
        width: 180px;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 11px;
        border: 0.5px dashed #9A9A9A;
    }
}
.hp-tabs {
    h2 {
        font-size: 24px;
        color: #E71C24;
        font-weight: 800;
        display:none;
    }
    .pagebuilder-column h2 {
        display:block;
        margin-top: -70px;
    }
}
.max-container.hp-tabs {
    figure {
        background: url('@{baseDir}images/path.png') no-repeat 0 0;
    }
}
.hp-customer-review-outer {
    h2 {
        text-align: center;
        font-size: 28px;
        font-weight: 800;
        color: #E71C24;
        margin-bottom: 40px;
    }
    .home-page-customer-review-content {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 50px;
        .left-sec {
            flex: 1 0 50%;
            background: #FAFAFA;
            padding: 25px 15px 0px 25px;
            .title {
                font-weight: 700;
                color: #222222;
                font-size: 18px;
                padding-top: 10px;
            }
            .attribute {
                background: #3777B61A;
                display: inline-block;
                margin: 8px 5px 0 0;
                padding: 2px 8px;
                border-radius: 12px;
                font-size: 12px;
                font-weight: 700;
            }
            .description {
                font-size: 16px;
                color: #222222;
                margin-top: 15px;
            }
        }
        .right-sec {
            flex: 1 0 50%;
            .video-link {
                display: none;
            }
        }
    }
    ul.slick-slider {
        padding: 0;
    }
    .slick-prev, .slick-next {
        height: 48px;
        width: 48px;
        z-index: 11;
        background: #E71C24;
        border-radius: 50%;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
    .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
        color: #fff;
        font-size: 22px;
    }
    .slick-dots {
        li {
            &.slick-active {
                button {
                    background: #E71C24;
                }
            }
            button {
                width: 10px;
                height: 10px;
            }
        }
    }
}






._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: none;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type*="date"], input[type="email"] {
    border: none;
    height: 32px;
    border-bottom: 1px solid #E4E4E4;
    padding-left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}
.control input::placeholder {
    color: #9B9B9B;
}
.modals-overlay {
    z-index: 11 !important;
}
.modal-popup .modal-title {
    border-bottom: none;
}
form .fieldset>.field:not(.choice)>.control {
    width: 100%;
}
form .actions-toolbar>.primary , form .actions-toolbar>.secondary {
    width: 100%;
}
form .actions-toolbar>.primary button.primary {
    width: 100%;
    background: #e71c24;
    border-color: #e71c24;
    padding: 15px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.actions-toolbar .or-another-selection {
    display: block;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
    clear: both;
}
form .actions-toolbar>.secondary {
    margin-top: 15px;
}
form .actions-toolbar>.secondary a {
    text-transform: uppercase;
    font-weight: 700;
    color: #e71c24;
}
.modal-popup.customer-popup header.modal-header {
    display: none;
}
.modal-popup._inner-scroll.customer-popup .modal-content {
    /*overflow-y: unset;*/
    padding: 0;
}
.block.block-customer-login {
    width: 50%;
    float: left;
    padding: 20px 25px 0;
    box-sizing: border-box;
    margin-bottom: 0;
    .forgot-password {
        text-align: right;
    }
    .field.password.required {
        margin-bottom: 0;
    }
    .actions-toolbar {
        margin-top: 20px;
    }
    a#forgotPassword {
        color: #E71C24;
        font-size: 12px;
        font-weight: 400;
    }
    .forgot-password-error, div#email-error {
        color: #E71C24;
        font-size: 12px;
    }
}
.right-img-box {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.right-img-box img {
    width: 100%;
    display: block;
}
div#mobileresponse, div#emailresponse {
    overflow: hidden;
    clear: both;
    font-size: 12px;
    color: #E71C24;
}
button.send_otp.action.primary {
    background: #E71C24;
    border: #E71C24;
    padding: 5px 10px;
    font-size: 12px;
}
span.otp_generatenote {
    color: #E71C24;
}
form div.mage-error[generated] {
    color: #E71C24;
}
form#customer-popup-form-register {
    width: 50%;
    float: left;
    padding: 20px 25px 0;
    box-sizing: border-box;
    margin-bottom: 0;
    fieldset.fieldset.create.info {
        margin-bottom: 13px;
    }
}
h2.account-heading {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}
.actions-toolbar .or-another-selection {
    display: block;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
    clear: both;
    font-size: 13px;
}
.other-links {
    overflow: hidden;
    clear: both;
    text-align: center;
    padding: 10px 0;
}
.other-links a {
    color: #9B9B9B;
    font-size: 12px;
}

//widget listing style
.block.widget {
    position: relative;
    .see-all-link {
        position: absolute;
        top: 0;
        right: 2px;
        a {
            color: #E71C24;
            font-size: 18px;
            font-weight: 800;
            &:after {
                content: '\e608';
                font-family: 'icons-blank-theme';
                color: #222222;
                font-size: 26px;
                display: inline-block;
                line-height: 18px;
                position: relative;
                top: 5px;
            }
        }
    }
}
.cms-home.page-layout-1column .block.widget .products-grid .product-items {
    display: flex;
    justify-content: space-between;
}
.cms-home.page-layout-1column .block.widget .products-grid .product-item {
    margin: 0;
    padding: 0 8px;
}
.cms-home.page-layout-1column .block.widget .products-grid .product-item .product-image-container {
    width: 100% !important;
}
.cms-home.page-layout-1column .block.widget .block-title strong {
    color: #E71C24;
    font-size: 28px;
    font-weight: 700;
}
.cms-home.page-layout-1column .block.widget .block-title {
    margin: 0;
}
.block.widget .products-grid .product-item .price-box .price {
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    color: #9B9B9B;
}
.block.widget .products-grid .product-item .product-item-name > a {
    color: #4a4a4a;
    font-weight: 700;
}
.block.widget .product-item-actions a.action.towishlist {
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 10px;
}
.block.widget .product-item-info {
    position: relative;
}

/*************Reset Password Page****************/
.user-resetpassword-index {
    .page-title-wrapper {
        text-align: center;
        margin: 20px 0 0;
        h1.page-title {
            font-size: 22px;
            font-weight: 500;
        }
    }
    .field.user-email-id {
        span.user-id {
            color: #E71C24;
            padding-left: 15px;
        }
        span {
            color: #9B9B9B;
            font-weight: 500;
            font-size: 16px;
        }
    }
    form#addData {
        .actions-toolbar > .primary button.primary {
            width: auto;
            padding: 10px 20px;
            border-radius: 4px;
        }
        .fieldset:last-child {
            margin-bottom: 0;
        }
        .fieldset {
            margin: 0 0 20px;
        }
        .control {
            width: 300px;
            input {
                border: 1px solid #E4E4E4;
            }
        }
    }
    .columns form .actions-toolbar {
        margin-left: 0;
    }
}


/*********************************Media Query************************************************/

@media only screen and (min-width: 1366px) {
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main {
        max-width: 1366px;
        width: 100%;
        padding:0;
    }
    [data-content-type='row'][data-appearance='contained'] {
        max-width: 1366px;
    }
}

@media only screen and (max-width: 1366px) {
    .page-bottom {
        width: 100% !important;
    }
    form.query-form fieldset:before, form.query-form fieldset:after {
        background-size: 100%;
        width: 100%;
    }
}
@media only screen and (min-width: 1140px) {
    .header .block.block-search {
        width: 500px;
    }
}
@media only screen and (min-width: 768px) {
    .header.content {
        max-width: 1264px;
        margin: 0 auto;
        padding: 8px 20px;
    }
    .header.content .nav-sections-item-content>.navigation {
        background: #fff;
    }
    .header.content .navigation .level0 .submenu {
        display: flex;
        justify-content: space-between;
        min-width: 450px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px #4a4a4a;
        border: none;
    }
    .navigation .level0 .submenu li.level1 {
        flex: 1 0 33.33%;
    }
    .header.content .navigation .level0 .level1 .submenu {
        position: relative;
        left: 0 !important;
        min-width: auto !important;
        flex-wrap: wrap;
        box-shadow: none;
        display: block !important;
    }
    .navigation .level0 .level1 .submenu li.level2 {
        display: block;
        width: 100%;
    }
    .sections .navigation .level1.category-item > a {
        color: #9B9B9B;
    }
    .header.content .navigation .level0 > .submenu {
        padding-top: 10px;
    }
    .header.content .navigation .level0 a >.ui-menu-icon {
        display: none;
    }
    .header.content .navigation .level0 .submenu a:hover, .header.content .navigation .level0 .submenu a.ui-state-focus {
        background: transparent;
    }
    .header.content .nav-sections .header-top-content {
        display: none;
    }
    .block.block-search {
        width: 400px;
    }
    .logo-img {
        display: none;
    }
    .cms-home.page-layout-1column .block.widget .products-grid .product-item {
        width: auto;
        flex: 1 0 25%;
    }
}

@media only screen and (max-width: 767px) {
    .footer-link-section {
        flex-wrap: wrap;
        .link-section {
            flex: 1 0 100%;
        }
    }
    .footer.content {
        border-top: none;
    }
    .footer-four-up-box {
        padding: 0;
        .pagebuilder-column {
            border-right: none;
        }
    }
    .page-bottom {
        overflow: unset;
        form.query-form fieldset {
            box-shadow: 0px 0px 4px #4a4a4a;
            padding-bottom: 0;
        }
    }
    .footer-bottom {
        .social-icons {
            margin: 20px 0;
            a {
                margin: 0 4px;
            }
        }
        .footer-bottom-inner {
            padding-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
    } 
    #moving-tabs {
        margin: 25px 0 0;
        li.on {
            .content {
                left: 0;
                width: 100%;
                right: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
        &:after {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .hp-tabs {
        h2 {
            text-align: center;
            display: block;
        }
        .pagebuilder-column {
            text-align: center;
            h2 {
                display: none;
            }
        }
    }
    .page-bottom {
        margin-top: 80px;
    }
    form.query-form {
        width: 100%;
    }
    form.query-form fieldset:before ,form.query-form fieldset:after {
        display: none;
    }

    /**********popup design************/

    .modal-popup.modal-slide .modal-inner-wrap[class] {
        background-color: #fff;
    }
    aside.modal-popup.city-popup {
        left: 0;
        .modal-inner-wrap {
            width: 100%;
            border-radius: 0;
        }
    }
    .call-popup {
        padding-top: 25px;
        .box-store-content {
            ul {
                li {
                    flex: 0 1 33.33%;
                    .store-image {
                        border-radius: 100%;
                        padding: 0 0;
                        width: 85px;
                        height: 85px;
                        line-height: 100px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .modal-popup.customer-popup, aside.modal-popup.city-popup {
        left: 0;
        header.modal-header {
            display: block;
            position: relative;
            .modal-title {
                display: none;
            }
            .action-close {
                position: static;
            }
        }
        .action-close {
            &:before {
                background: url(../images/popup-close.png) no-repeat 0 0;
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                background-size: 100% 100%;
                top: 0;
            }
        }
        &._show {
            z-index: 111 !important;
        }
    }
    .modal-popup.customer-popup form .actions-toolbar>.primary button.primary {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
    }
    .block.block-customer-login,form#customer-popup-form-register {
        width: 100%;
    }
    .right-img-box {
        display: none;
    }

    /************mobile design header*************/
    .sections .navigation .level0>.level-top {
        text-transform: capitalize;
    }
    .sections .navigation .level0,.sections .navigation li.level0:last-child {
        border: none;
    }
    .navigation .submenu:not(:first-child) {
        padding: 0 0 0 30px;
    }
    .sections .navigation ul li.level0 a {
        font-weight: 500;
        color: #222222;
        font-size: 14px;
    }
    .nav-sections-item-title {
        height: 0;
        display: none;
    }
    .nav-sections-item-content {
        margin-top: 0;
    }
    .nav-toggle {
        top: 6px;
    }
    .block-search input#search {
        display: none;
    }
    .block-search .control {
        border-top: none;
        margin: 0;
    }
    ul.header.links {
        padding: 0;
    }
    .header.content a.logo {
        padding-left: 25px;
    }
    .header.content {
        padding: 4px 16px;
    }
    .header.content .logo {
        max-width: 40%;
    }
    .page-header {
        margin-bottom: 0;
    }
    ul.header.links li.link.wishlist {
        margin-right: 10px;
    }
    .header.content .nav-sections .header-top-content {
        display: block;
        max-width: 100%;
        padding: 20px 15px;
        background: #656262;
    }
    .header.content #switcher-store {
        display: none;
    }
    .header.content .nav-sections .header-top-content a {
        display: block;
        color: #fff;
        padding: 5px 0;
    }
    main#maincontent {
        padding: 0;
    }
    .header.content .nav-sections, .header.content .navigation {
        background: #fff;
    }
    .block.block-search {
        position:relative;
        width:50px;
        float:right;
        overflow:hidden;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        margin-top: 0;
    }
    .block.block-search .label:before {
        content: "";
        display: inline-block;
        background: url('@{baseDir}images/mob-search-icon.png') no-repeat 0 0;
        width: 25px;
        height: 25px;
    }
    .block.block-search .searchbox-open #search {
        display: block;
    }
    .searchbox-open {
        width:100%;
    }
    .block.block-search.searchbox-open {
        width: 80%;
        z-index: 111;
        right: 20px;
        margin-top: 0;
        position:absolute;
    }
    .searchbox-open .field.search label.label {
        position: absolute;
    }
    .searchbox-open .field.search  .label:before {
        background: url(../images/mobile-cancle-icon.png) no-repeat 0 8px;
        width: 25px;
        height: 38px;
        content: "";
    }
    .searchbox-open input#search {
        display: block;
        background: #fff;
        border: 2px solid #e4e4e4;
    }
    .header.content div#switcher-language-nav {
        display: none;
    }

    /************body content************/
    .cms-home.page-layout-1column .block.widget .products-grid .product-items {
        flex-wrap: wrap;
    }
    .cms-home.page-layout-1column .block.widget .products-grid .product-item {
        flex: 0 0 50%;
    }
    .cms-home.page-layout-1column .block.widget .products-grid .product-item .product-image-container {
        max-width: 100%;
    }
    .cms-home.page-layout-1column .block.widget .block-title {
        padding-left: 8px;
    }
    .hp-category-block {
        .slick-list {
            padding-left: 0 !important;
        }
        .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
            color: #222222;
            font-size: 14px;
            font-weight: 700;
        }
        .slick-prev, .slick-next {
            height: 48px;
            top: 40%;
            width: 30px;
            border-radius: 8px;
            box-shadow: 1px 0px 4px #4a4a4a;
            background: #fff;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    .max-container.hp-customer-review {
        margin-top: 60px;
    } 
    .hp-customer-review-outer {
        .home-page-customer-review-content {
            padding: 0 10px;
            flex-flow: wrap-reverse;
            .left-sec {
                flex: 1 0 100%;
                padding: 10px 15px 0px 15px;
                .cimage {
                    display: none;
                }
                .attribute {
                    background: none;
                    padding: 2px 0;
                    font-size: 13px;
                    color: #9B9B9B;
                }
            }
        }
        .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
            color: #222222;
            font-size: 14px;
            font-weight: 700;
        }
        .slick-prev, .slick-next {
            height: 48px;
            top: 40%;
            width: 30px;
            border-radius: 8px;
            box-shadow: 1px 0px 4px #4a4a4a;
            background: #fff;
        }
        .slick-dots {
            display: none;
        }
    }
    
    
}

