<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="PHPCuong\CustomerAccount\Controller\Customer\Ajax\Register">
        <plugin name="restrictCustomer"
                type="Codilar\TokenAPI\Model\Plugin\Controller\Account\RestrictCustomer"/>
    </type>
    <type name="Magedelight\SMSProfile\Controller\Ajax\Login">
        <plugin name="HomelaneLoginAccountLoginPost" type="Codilar\TokenAPI\Plugin\Customer\LoginPost" sortOrder="0" disabled="false"/>
    </type>
     <!-- <preference for="Mageplaza\SocialLogin\Controller\Social\Login" type="Codilar\TokenAPI\Controller\Social\Login" /> -->
      <type name="Mageplaza\SocialLogin\Controller\Social\Login">
        <plugin name="HomelaneSocialLogin" type="Codilar\TokenAPI\Plugin\Social\Login" sortOrder="0" disabled="false"/>
    </type>
</config>
