<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="PHPCuong\CustomerAccount\Controller\Customer\Ajax\Register">
        <plugin name="restrictCustomer"
                type="Codilar\TokenAPI\Model\Plugin\Controller\Account\RestrictCustomer"/>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="HomelaneLoginAccountLoginPost" type="Codilar\TokenAPI\Plugin\Customer\LoginPost" sortOrder="1" disabled="false"/>
    </type>
</config>
