<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_tabs" translate="label" sortOrder="110">
            <label>Query Email </label>
        </tab>
        <section id="email_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Query Email Receivers</label>
            <tab>custom_tabs</tab>
            <resource>Codilar_SendEmail::config_sendemail</resource>
            <group id="sendmail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label> Query Email Receiver Settings</label>
                <field id="receiver" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry </validate>
                    <comment><![CDATA[Enter multiple email ids With Comma (,)]]></comment>
                    <tooltip>example1@gmail.com,example2@gmail.com</tooltip>
                    <label>Receiver Email ID</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
