<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
  <add id="Codilar::top_level" module="Codilar_AttributeSet" resource="Magento_Backend::content" sortOrder="10" title="Codilar"/>
  <add action="codilar_attributeset/attributeset/index" id="Codilar_AttributeSet::codilar_attributeset_attributeset" module="Codilar_AttributeSet" parent="Codilar::top_level" resource="Magento_Backend::content" sortOrder="20" title="Attribute Set Grid"/>
    </menu>
</config>
