<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="codilar_erp_apis" translate="label" type="text" sortOrder="400" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>ERP APIs</label>
            <tab>codilar</tab>
            <resource>Codilar_AttributeSet::attributeset_tokens</resource>
            <group id="sap_erp_oauth" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1">
                <label>SAP oAuth Details</label>
                <field id="sap_apis_request_url" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Request URI</label>
                    <comment>SAP APIs Base URI</comment>
                </field>
                <field id="sap_access_token" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>SAP Bearer Token</label>
                    <comment>SAP APIs Bearer Token</comment>
                </field>
                <field id="sap_hierarchy_endpoint" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Hierarchy API Endpoint</label>
                    <comment>SAP ERP get product hierarchy Endpoint</comment>
                </field>
            </group>
            <group id="automat_erp_oauth" translate="label" type="text" sortOrder="6" showInDefault="1"
                   showInWebsite="1">
                <label>Automat oAuth Details</label>
                <field id="automat_apis_request_url" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Request URI</label>
                    <comment>Automat APIs Base URI</comment>
                </field>
                <field id="automat_access_token" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Automat Bearer Token</label>
                    <comment>Automat APIs Bearer Token</comment>
                </field>
                <field id="automat_cat_endpoint" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Automat Categories API Endpoint</label>
                    <comment>Automat ERP Get list of categories Endpoint</comment>
                </field>
                <field id="automat_subcat_endpoint" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Automat Subcategories API Endpoint</label>
                    <comment>Automat ERP Get list of subcategories Endpoint</comment>
                </field>

            </group>
        </section>
    </system>
</config>
