<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="codilar_erp_apis">
            <group id="automat_erp_oauth">
                <field id="automat_brands_endpoint" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Brands API Endpoint</label>
                    <comment>Automat Brands API Endpoint</comment>
                </field>
            </group>
        </section>
    </system>
</config>
