<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="locale">
                <field id="city_image" translate="label comment" type="image" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City Image</label>
                    <backend_model>Codilar\Store\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">website/icons/</upload_dir>
                    <base_url type="media" scope_info="1">website/icons</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
