<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <jlnarvaez_whatsappshare>
            <params>
                <enabled>0</enabled>
                <show_product_name>0</show_product_name>
                <show_product_desc>0</show_product_desc>
                <show_product_price>0</show_product_price>
            </params>
        </jlnarvaez_whatsappshare>
    </default>
</config>