<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codilar" translate="label" sortOrder="110">
            <label>Codilar</label>
        </tab>
        <section id="attribute_section" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Uom and Brand Attribute Mapping</label>
            <tab>codilar</tab>
            <resource>Codilar_UomAttribute::config_uomattribute</resource>
            <group id="uomattribute" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>UOM and BRAND Attribute Mapping</label>
                <field id="uomattributevalue" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Select UOM Attribute</label>
                    <source_model>\Codilar\BrandAttribute\Model\AttributeOption\Attribute</source_model>
                </field>
                <field id="brandattributevalue" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Select BRAND Attribute</label>
                    <source_model>\Codilar\BrandAttribute\Model\AttributeOption\Attribute</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
